body {
  background-image: url(../../img/minecraft_water.jpg);
}

table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
}

table .hidden {
  border: 0;
}

.numbers th {
  border: 3px solid black;
  border-collapse: collapse;
}

.letter {
  border: 3px solid black;
  border-collapse: collapse;
}
