/* =================================
DEFAULT STYLES (NO MEDIA QUERY)
Device width:
    320px -->   <-- 768px
==================================== */
body {
  background-image: url(../../img/wateersaand.png);
  font-family: 'Orbitron', sans-serif;
  margin: 0;

}
table {
  width: 100%;
  /* max-width: 425px; */
  margin: 0 auto;
  /* vertical-align: middle; */
  max-width: 1000px;
}

td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  color: white;
}

/* modal */
.modal {
  background-color: rgba(0, 153, 255, 0.5);
  text-align: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
}

.modal-content {
  border: 1px solid white;
  background-color: rgba(22, 97, 186, 1);
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;;
  color: white;
}

.fa-align-justify,
.dead,
.hit {
  font-size: 20px;
}

  .miss{
  color: #BFBEC7;
}
  .hitComputerShip {
  color: red;
}

.shipsLeft {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
}
.shipLength {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
}
table .hidden {
  border: 0;
}
.number th,
.letter {
  /* padding: 15px; */
  color: black;
}

.number th {
  border: 3px solid black;
  border-collapse: collapse;
}

.letter {
  border: 3px solid black;
  border-collapse: collapse;
  text-align: center;
}
p.humans {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
}
p.aliens {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;
}

#player {
  /* font-size: 24px; */
}
#alien {
  /* font-size: 24px; */
}
button{
  font-size: 20px;
  border-radius: 10px;
  min-width: 500px;
  margin: 0 auto;
}
.button.operator {
	color: white;
	background-color: #70A7EE;
	border-bottom: 8px #488DD9 solid;
	border-top: 4px #3D7DE8 solid;
}
.operator:active {
	border-bottom: 8px #3D7DE8 solid;
	border-top: 4px #488DD9 solid;
}
#computerShip {
  visibility: hidden;
}
/* =================================
Device width:
    <-- 320px
==================================== */
@media (max-width: 320px) {
  table {
    width: 100%;
    height: 250px;
    margin:0;
  }
  .fa-align-justify,
  .dead,
  .hit
  .modal,
  .modal-content{
    font-size: 15px;
  }
  .modal-content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 200px;
  }
  .modal {
    text-align: center;
  }
  button{
    font-size: 20px;
    border-radius: 10px;
    min-width: 150px;
    margin: 0 auto;
    max-width: 200px;
  }
}
/* =================================
Device width:
    320px -->   <-- 768px
==================================== */
@media (min-width: 320px) {
  table {
    width: 80%;
    height: 500px;
  }
    .fa-align-justify,
    .dead,
    .hit,
    .modal,
    .modal-content{
      font-size: 20px;
    }
    .modal-content {
      justify-content: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-width: 400px;
    }
    .modal {
      text-align: center;
    }
    button{
      font-size: 20px;
      border-radius: 10px;
      min-width: 300px;
      margin: 0 auto;
      max-width: 400px;
    }
}
/* =================================
Device width:
    768px -->   <-- 1024px
==================================== */
@media (min-width: 768px) {
  table {
    width: 80%;
    height: 500px;
  }
    .fa-align-justify,
    .dead,
    .hit,
    .modal,
    .modal-content{
      font-size: 20px;
    }
    .modal-content {
      justify-content: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-width: 400px;
    }
    .modal {
      text-align: center;
    }
    button{
      font-size: 20px;
      border-radius: 10px;
      min-width: 300px;
      margin: 0 auto;
      max-width: 400px;
    }
}
/* =================================
Device width:
    1024px -->
==================================== */
@media (min-width: 1024px) {
  table {
    width: 60%;
    height: 500px;
  }
  .fa-align-justify,
  .dead,
  .hit
  .modal,
  .modal-content{
    font-size: 25px;
  }
}
