table, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.numbers {
  border: 3px solid black;
  border-collapse: collapse;
}
.letter {
  border: 3px solid black;
  border-collapse: collapse;
}
body {
  background-image: url(../../img/minecraft_water.jpg);
}
