/* =================================
DEFAULT STYLES (NO MEDIA QUERY)
Device width:
    320px -->   <-- 1024px
==================================== */

body {
  background-image: url('../../img/wateersaand.jpg');
  font-family: 'Orbitron', sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  font-size: 20px;
}

/* This makes the humans show above the aliens on tall displays */

@media (max-aspect-ratio: 3/4) {
  body {
    grid-template-columns: 1fr;
  }
}

body>div {
  display: flex;
  flex-direction: column;
}

body>div>* {
  flex: 0 0 auto;
}

.grid {
  flex: 1 1 auto;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(11, 1fr);
  gap: 2px;
  margin: 4px;
}

.grid>* {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid>button {
  all: unset;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  color: white;
}

body {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* modal */

.modal {
  background-color: rgba(0, 153, 255, 0.5);
  text-align: center;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-content {
  border: 1px solid white;
  background-color: rgba(22, 97, 186, 1);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  border-radius: 8px;
  color: white;
  max-width: 400px;
}

.fa-align-justify {
  color: white;
}

.hit {
  color: red;
}

.miss {
  color: #BFBEC7;
}

.grid>span {
  color: black;
  border: 3px solid black;
  border-collapse: collapse;
  text-align: center;
}

h2.humans, h2.aliens {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1em;
  text-align: center;
}

.operator {
  font-size: 1em;
  border-radius: 10px;
  margin: 1em;
  color: white;
  background-color: #70A7EE;
  border-bottom: 8px #488DD9 solid;
  border-top: 4px #3D7DE8 solid;
}

.operator:active {
  border-bottom: 8px #3D7DE8 solid;
  border-top: 4px #488DD9 solid;
}

.computerShip {
  visibility: hidden;
}

/* =================================
Device width:
    <-- 320px
==================================== */

@media (max-width: 320px) {
  body {
    grid-template-columns: 1fr;
    font-size: 15px;
  }
}

/* =================================
Device width:
    1024px -->
==================================== */

@media (min-width: 1024px) {
  body {
    font-size: 25px;
  }
}